#titulo-configuracoes {
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
    font-size: 16px;
    fill: #FFFFFF;
}

#nome {
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
    font-size: 20px;
    fill: #010101;
}

#status {
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    font-size: 16px;
    fill: #6B6A6A;
}

.menu-item {
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
    font-size: 16px;
    fill: #010101; 
}

.menu-item-sub {
    font-family: 'Archivo', sans-serif;
    font-weight: 400;
    font-size: 13px;
    fill: #010101; 
}

#botao-troca {
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
    font-size: 14px;
    fill: white; 
}