* {
    margin: 0px;
    font-family: 'Archivo', sans-serif;
    touch-action: none;
}

.hide {
    display: none;
}

.transparento {
    opacity: 0;
    transition: 0.5s;
}

.opaco {
    opacity: 1;
    transition: 0.5s;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.flex {
    display: flex;
}

.fc {
    display: flex;
    align-items: center;
}

#logggg {
    position: absolute;
    top:10px;
    left: 10px;
    background-color: white;
}

#nao_implementado {
    position: absolute;
    top: 200px;
    width: 100vw;
}

#nao_implementado-text {
    font-family: 'Archivo', sans-serif;
    font-weight: 700;
    font-size: 18px;
    border-radius: 15px;
    margin: auto;
    width: 190px;
    max-width: 190px;
    background-color: #FFDDDD;
    text-align: center;
    padding: 20px 20px 20px 20px;
}