* {
    margin: 0px;
    font-family: 'Archivo', sans-serif;
    /*  */
}

.hide {
    display: none;
}

.transparento {
    opacity: 0;
    transition: 0.5s;
}

.opaco {
    opacity: 1;
    transition: 0.5s;
}

.notificacao_erro {
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    font-size: 16px;
    fill: black; 
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}

.mr-5 {
    margin-right: 5px;
}

.mr-10 {
    margin-right: 10px;
}

.flex {
    display: flex;
}

.fc {
    display: flex;
    align-items: center;
}

#logggg {
    position: absolute;
    top:10px;
    left: 10px;
    background-color: white;
}

#cabecalho {
    background-color: #008069;
    height: 85px;
    min-height: 85px;
    position: relative;
}